
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash</title>
</head>
<body>
    <div class="main">
        <p class="line">Choose Your Favorite Symbols!</p>
        <input type="text" #play1 (keyup)="getValue1(play1.value)" [ngStyle]="{'border-color': checkVal1?.length > 1 ? 'red' : 'white' }" class="player1">
        <p class="name1">Player 1</p>
        <img src="/assets/vsGIF.gif" class="gif">
        <input type="text" #play2 (keyup)="getValue2(play2.value)" [ngStyle]="{'border-color': checkVal2?.length > 1 ? 'red' : 'white' }" class="player2">
        <p class="name2">Player 2</p>
        <button class="start" (click)="startGame()"><b>GO</b></button>
    </div>

    <div class="notification">
        <img src="/assets/cancel.png" class="image">
        <p class="error"><b>{{errorLine}}</b></p>
    </div>
</body>
</html>
