@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@font-face {
    font-family: line-font;
    src: url(/assets/BoomerTantrum-j88y.ttf);
}


$color: black;
$font-color: #E4DCCF;
$cell-width: 140px;
$odd-cell-color: #EA5455;
$even-cell-color: #002B5B; 

*{
    margin: 0;
    padding: 0;   
}

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, #F9F5EB,#E4DCCF);
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 60px;
    width: 100%;
    color: $odd-cell-color;
    font-family: 'Bebas Neue', cursive;
    height: 100px;
}

span{
    padding: 0px 10px;
    font-family: 'Rubik Distressed', cursive;
    color: $even-cell-color;
}

.board{
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-box{
    border-radius: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 100px;
}

.cell2, .cell4, .cell6, .cell8{
    background-color: $even-cell-color;
    color: $font-color;
} 

.cell1, .cell3, .cell5, .cell7, .cell9{
    background-color: $odd-cell-color;
    color: $font-color;
}

td{
    width: $cell-width;
    height: $cell-width;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    
    &:hover{
        opacity: 0.7;
    }
}

.popup{
    width: 430px;
    height: 455px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.818);
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    transition: transform 0.5s top 0.5s;
    transition: 0.4s;
    z-index: 99;
    top: 45%;
    left: 50%;
    text-align: center;
}

.open-pop{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    transition: 0.5s;
}

.image{
    width: 250px;
}

.points{
    width: 450px;
    font-size: 40px;
    color: black;
    font-family: line-font;
}

.restart{
    width: 250px;
    appearance: none;
    background-color: #F9F5EB;
    border-radius: 40em;
    border-style: none;
    box-shadow: $font-color 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;

    &:hover {
        background-color: #EA5455;
        box-shadow: #002B5B 0 -6px 8px inset;
        transform: scale(1.125);
    }
    &:active {
    transform: scale(1.025);
    }

    @media (min-width: 768px) {
        .button-73 {
            font-size: 1.5rem;
            padding: .75rem 2rem;
        }
    }
}

.home-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
    background-color: #EA5455;
    box-shadow: #002B5B 0 -6px 8px inset;
    transform: scale(1.125);
    }

    &:active {
    transform: scale(1.025);
    }

    @media (min-width: 768px) {
        .button-73 {
            font-size: 1.5rem;
            padding: .75rem 2rem;
        }
    }
}

