<html>
    <head>
        <title>MainPage</title>
    </head>
    <body class="container">

        <div class="main">
            <p class="title">Tic-Tac-Toe</p>

            <div class="vertical">
                <div class="v1"></div>
                <div class="v2"></div>    
            </div>

            <div class="horizontal">
                <div class="h1"></div>
                <div class="h2"></div>    
            </div>

            <div class="points">
                <p>You: {{you}}</p>
                <p>Opponent: {{opponent}}</p>
            </div>
            
            
        </div>
    </body>
</html>
