@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


$color: black;
$font-color: white;
$cell-width: 140px;

*{
    margin: 0;
    padding: 0;

}

.container{
    background: linear-gradient(90deg, #000428, #004e92);
    height: 100vh;
    
}

.main{
    height: 100vh;
}

.title{
    font-size: 60px;
    width: 100%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height: 100px;
}

span{
    padding: 0px 10px;
    font-family: 'Rubik Distressed', cursive;
    color: rgb(135, 186, 222);
}

.board{
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-box{
    border-radius: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 100px;
}

.cell2, .cell4, .cell6, .cell8{
    background-color: #F9858B;
    color: #E1E1E5;
} 

.cell1, .cell3, .cell5, .cell7, .cell9{
    background-color: #EF525A;
    color: #5E6170;
}

td{
    width: $cell-width;
    height: $cell-width;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;

    &:hover{
        opacity: 0.7;
    }
}

.popup{
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #ffffffca;
    text-align: center;
    border-radius: 10px;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    transition: transform 0.5s top 0.5s;
    transition: 0.4s;
}

.open-pop{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    transition: 1s;
}

.image{
    width: 250px;
}

.points{
    width: 450px;
    font-size: 40px;
    color: black;
    text-align: center;
    justify-content: center;
}

.restart-btn{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: 5px solid white;
    transition: 0.8s;
    background-color: black;
    font-size: 20px;
    font-family: monospace;

    &:hover{
        background-color: white;
        color: black;
        border-color: black;
    }
}
